.leads{
    background-color:  #1B203A;
   
    margin: 0;
    padding: 0;
    
}
.table-content{
    background-color: #FEFEFE0D;
    color:#FEFEFE;
    border-collapse:collapse ;
    margin :25px 0;
    width: 100%;
    font-size: 0.9em;
    border-radius: 25px;
    margin-right:10px ;

}
.table-content thead tr{
   text-align: center;
   font-weight: bold;
}
.table-content th,
.table-content td{
    padding:12px 15px;
    text-align:start;
}



.table-content tbody tr:hover{
    background-color:  #E9204F40;
}

.button{
    float: right;
}