.subdiv{
    margin-top: 70px;
    margin-left: 400px;
    width: 350px;
}

.maindiv{
    margin-bottom: 40px;
}

.formc{
    color: white;
    align-items: center;
}

.Btn{
    text-align: center;
    font-size: 20px;
}

.maint{
    margin-top: 150px;
}