
.login {
    margin: 0;
    padding: 0;
    background-color: #1B203A;
    height: 100%;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 60px;
    max-width: 800px;
    height: 600px;
   border-radius: 19px;
    background-color: #252C48;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .headcolor{
      font-family: coras,medium;
  }
  .pass{
      color: #FFFFFF80;
  }
  .btn{
      background-color: #E9204F;
  }
  .txt_field{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0;
  }
  .txt_field input{
    /* width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size:16px; */
    border: none;
    background: none;
    outline: none;
}
.txt_field input:focus ,
.txt_field input:focus {
    top: -5px;
    width: 100%;
    background-color: #FFFFFF80;
}
